<section class="hero-wrap hero-wrap-2 mb-4" style="background-image: url('images/bg_4.jpg'); margin-top:8%;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Log In</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-angle-right"
                                aria-hidden="true"></i></a></span> <span>Login <i class="fa fa-angle-right"
                            aria-hidden="true"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="login container mb-4">
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Log in to FooDi</h3>
                <div class="card-text">
                    <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                    <form>
                        <!-- to error: add class "has-danger" -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control form-control-sm" id="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <!-- <a href="#" style="float:right;font-size:12px;">Forgot password?</a> -->
                            <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="******">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                        <div class="sign-up">
                            Don't have an account? <a href="/register">Create One</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>