<!-- <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaWeb</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>

<body  id="home" data-spy="scroll"  data-target=".navbar-collapse">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#home" class="navbar-brand"><strong>PIZZA</strong></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home" class="active">HOME</a></li>
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#gallery">GALLERY</a></li>
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</div>
	

	
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="images/slider-img1.jpg" alt="Pizza Image 1">
				<div class="flex-caption">
					<h2 class="slider-title">We make Pizza</h2>
					<h3 class="slider-subtitle">Fresh, clean, and delicious.</h3>
					<p class="slider-description">Praesent tincidunt neque semper elementum gravida. Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue.</p>
				</div>
			</li>
			<li>
				<img src="images/slider-img2.jpg" alt="Pizza Image 2">
				<div class="flex-caption">
					<h2 class="slider-title">Freshly Baked Pizza</h2>
					<h3 class="slider-subtitle">Premium Quality, Finest Ingredients</h3>
					<p class="slider-description">Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue. Praesent tincidunt neque semper elementum gravida.</p>
				</div>
			</li>
		</ul>
	</div>



	<section id="about" class="templatemo-section templatemo-top-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="text-uppercase">Your Pizza Shop</h1>
				</div>
				<div class="col-md-6 col-sm-6">					
					<h3 class="text-uppercase padding-bottom-10">Another Baker</h3>
					<p>Pizza responsive web template is provided by <a rel="nofollow" href="http://www.templatemo.com" target="_parent">templatemo</a> website. Feel free to download, adapt, and use this template for your websites. Credit goes to <a rel="nofollow" href="http://pixabay.com" target="_parent">Pixabay</a> for img used in this template.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
					<p>Proin enim sem, ultricies sit amet convallis nec, sodales quis augue. Duis consequat felis ac justo luctus, a cursus tellus pharetra. In ullamcorper gravida enim id pulvinar.</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<img src="images/about-img1.jpg" class="img-responsive img-bordered img-about" alt="about img">
				</div>
			</div>
		</div>
	</section>
	
	<section id="gallery" class="templatemo-section templatemo-light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center text-uppercase">Gallery</h2>
					<hr>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="images/gallery-img1.jpg" class="img-responsive gallery-img" alt="Pizza 1">
						<div class="gallery-des">
							<h3>Curabitur </h3>
							<h5>Cras in ante mattis, elementum nunc sed.</h5>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="images/gallery-img2.jpg" class="img-responsive gallery-img" alt="Pizza 2">
						<div class="gallery-des">
							<h3>Lorem ipsum</h3>
							<h5>In ullamcorper gravida enim id pulvinar</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="images/gallery-img3.jpg" class="img-responsive gallery-img" alt="Pizza 3">
						<div class="gallery-des">
							<h3>Pellentesque</h3>
							<h5>Maecenas efficitur nisi id sapien</h5>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="gallery-wrapper">
						<img src="images/gallery-img4.jpg" class="img-responsive gallery-img" alt="Pizza 4">
						<div class="gallery-des">
							<h3>Suspendisse</h3>
							<h5>Mauris sit amet augue sit amet risus</h5>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="gallery-wrapper">
						<img src="images/gallery-img5.jpg" class="img-responsive gallery-img" alt="Pizza 5">
						<div class="gallery-des">
							<h3>Elementum</h3>
							<h5>Maecenas efficitur nisi id sapien</h5>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</section>
	
	<section id="contact" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-uppercase text-center">Contact Us</h2>
					<hr>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<form action="#" method="post" role="form">
						<div class="col-md-6 col-sm-6">
							<input name="name" type="text" class="form-control" id="name" maxlength="60" placeholder="Name">
					    	<input name="email" type="email" class="form-control" id="email" placeholder="Email">
							<input name="message" type="text" class="form-control" id="message" placeholder="Subject">
						</div>
						<div class="col-md-6 col-sm-6">
							<textarea class="form-control" rows="5" placeholder="Message"></textarea>
						</div>
						<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
							<input name="submit" type="submit" class="form-control" id="submit" value="Send">
						</div>
					</form>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 col-sm-4">
					<h3 class="padding-bottom-10 text-uppercase">Visit our shop</h3>
					<p><i class="fa fa-map-marker contact-fa"></i> 63 Another Walking Street, BKK 18080</p>
					<p>
						<i class="fa fa-phone contact-fa"></i> 
						<a href="tel:010-020-0340" class="contact-link">010-020-0340</a>, 
						<a href="tel:080-090-0660" class="contact-link">080-090-0660</a>
					</p>			
					<p><i class="fa fa-envelope-o contact-fa"></i> 
                    	<a href="mailto:hello@company.com" class="contact-link">hello@company.com</a></p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h3 class="text-uppercase">Opening hours</h3>
					<p><i class="fa fa-clock-o contact-fa"></i> 7:00 AM - 11:00 PM</p>
					<p><i class="fa fa-bell-o contact-fa"></i> Monday to Friday and Sunday</p>
                    <p><i class="fa fa-download contact-fa"></i> 
                    	<a class="contact-link" rel="nofollow" 
                        	href="http://fontawesome.io/icons/" target="_blank">Change Icons</a></p>
			  	</div>
				<div class="col-md-4 col-sm-4">
					<div class="google_map">
						<div id="map-canvas" class="map"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy; 2084 Company Name</p>
					<hr>
					<ul class="social-icon">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-instagram"></a></li>
						<li><a href="#" class="fa fa-pinterest"></a></li>
						<li><a href="#" class="fa fa-google"></a></li>
						<li><a href="#" class="fa fa-github"></a></li>
						<li><a href="#" class="fa fa-apple"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="../../public/js/smoothscroll.js"></script>
    <script src="js/app.js"></script>
    <script>
        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 16,
                center: new google.maps.LatLng(13.758468, 100.567481),
                scrollwheel: false
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            google.maps.event.addDomListener(map, 'idle', function () {
                calculateCenter();
            });

            google.maps.event.addDomListener(window, 'resize', function () {
                map.setCenter(center);
            });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }

        //Google map
        $(function () {
            $('.flexslider').flexslider({
                controlNav: false,
                nextText: '',
                prevText: '',
            });
            loadGoogleMap();
        });

    
        $('.navbar-collapse a').click(function () {
            $(".navbar-collapse").collapse('hide');
        });
    </script>
</body>

</html>  -->

<section class="home-slider js-fullheight owl-carousel bg-white">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_3.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">Eat Healthy <br> and Natural Foods</h1>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country.</p>
                        <p><a href="#Menu" class="btn btn-primary px-4 py-3 mt-3">Order Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_2.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">We Love <br> Delicious Foods</h1>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country.</p>
                        <p><a href="#Menu" class="btn btn-primary px-4 py-3 mt-3">Order Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end"
                style="background-image: url(images/about.jpg); position: relative"></div>
            <div class="col-sm-7 wrap-about py-5 ftco-animate">
                <div class="heading-section mt-5 mb-4">
                    <div class="pl-lg-5 ml-md-5">
                        <span class="subheading">About</span>
                        <h2 class="mb-4">Welcome to Kusina Restaurant</h2>
                    </div>
                </div>
                <div class="pl-lg-5 ml-md-5">
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin
                        would be the word "and" and the Little Blind Text should turn around and return to its own,
                        safe country. A small river named Duden flows by their place and supplies it with the
                        necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                        into your mouth.</p>
                    <h3 class="mt-5">Special Recipe</h3>
                    <div class="thumb my-4 d-flex">
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/lunch-4.jpg);"></div>
                            <h4>Australian Organic Beef</h4>
                        </a>
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/lunch-7.jpg);"></div>
                            <h4>Australian Organic Beef</h4>
                        </a>
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/lunch-6.jpg);"></div>
                            <h4>Australian Organic Beef</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img mt-4" id="section-counter" style="background-image: url(images/bg_4.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="18">0</strong>
                                <span>Years of Experienced</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="20000">0</strong>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="564">0</strong>
                                <span>Finished Projects</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>Working Days</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section" id="Menu">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Specialties</span>
                <h2 class="mb-4">Our Menu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Breakfast</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/breakfast-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/breakfast-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/breakfast-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>

                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Lunch</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/lunch-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/lunch-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/lunch-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Dinner</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Desserts</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dessert-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dessert-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/dessert-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Wine Card</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/wine-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/wine-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/wine-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Drinks</h3>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/drink-1.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Beef with potatoes</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/drink-2.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" style="background-image: url(images/drink-3.jpg);"></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Grilled Crab with Onion</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">$29</span>
                            </div>
                        </div>
                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="ftco-section testimony-section mb-4" style="background-image: url(images/bg_5.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimony</span>
                <h2 class="mb-4">Happy Customer</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-7">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb mb-4">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/bg_6.jpg);"></div>
            <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Contact Us</span>
                    <h2 class="mb-4">For Any Queries</h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" class="form-control" id="book_date" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <input type="submit" value="Make a Reservation" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>